Repository blueshift-gg/blueshift-dashboard, pull requests merged in 2025-08, with the labels that each got.

#102 chore: ux update with code blocks in challenge documentation
  src/app/content/challenges/anchor-escrow/en/challenge.mdx
  src/app/content/challenges/anchor-flash-loan/en/challenge.mdx
  src/app/content/challenges/anchor-vault/en/challenge.mdx
  src/app/content/challenges/pinocchio-amm/en/challenge.mdx
  src/app/content/challenges/pinocchio-escrow/en/challenge.mdx
  src/app/content/challenges/pinocchio-flash-loan/en/challenge.mdx
  src/app/content/challenges/pinocchio-secp256r1-vault/en/challenge.mdx
  src/app/content/challenges/pinocchio-vault/en/challenge.mdx
Labels: enhancement, ui

#147 Feat: New course on Codama
  messages/en/courses.json
  src/app/content/courses/courses.ts
  src/app/content/courses/create-your-sdk-with-codama/codama-from-scratch/en.mdx
  src/app/content/courses/create-your-sdk-with-codama/codama-with-anchor/en.mdx
  src/app/content/courses/create-your-sdk-with-codama/conclusion/en.mdx
  src/app/content/courses/create-your-sdk-with-codama/introduction/en.mdx
  src/app/content/courses/create-your-sdk-with-codama/updating-codama-idl/en.mdx
Labels: New Course

#135 Feat: New course on NFTs on Solana
  messages/en/courses.json
  public/graphics/course-banners/nfts-on-solana.png
  src/app/content/courses/courses.ts
  src/app/content/courses/nfts-on-solana/conclusion/en.mdx
  src/app/content/courses/nfts-on-solana/introduction/en.mdx
  src/app/content/courses/nfts-on-solana/metaplex-core/en.mdx
  src/app/content/courses/nfts-on-solana/metaplex-token-metadata/en.mdx
  src/app/content/courses/tokens-on-solana/metaplex-token-metadata/en.mdx
Labels: New Course

#195 Feat: New Course - Winternitz Signature on Solana
  messages/en/challenges.json
  messages/en/courses.json
  public/graphics/challenge-banners/pinocchio-quantum-vault.png
  public/graphics/course-banners/winternitz-signatures-on-solana.png
  public/graphics/nft-pinocchio-quantum-vault.png
  src/app/content/challenges/challenges.ts
  src/app/content/challenges/pinocchio-quantum-vault/en/challenge.mdx
  src/app/content/challenges/pinocchio-quantum-vault/en/pages/close.mdx
  src/app/content/challenges/pinocchio-quantum-vault/en/pages/open.mdx
  src/app/content/challenges/pinocchio-quantum-vault/en/pages/split.mdx
  src/app/content/challenges/pinocchio-quantum-vault/en/verify.mdx
  src/app/content/courses/courses.ts
  src/app/content/courses/secp256r1-on-solana/introduction/en.mdx
  src/app/content/courses/winternitz-signatures-on-solana/conclusion/en.mdx
  src/app/content/courses/winternitz-signatures-on-solana/introduction/en.mdx
  src/app/content/courses/winternitz-signatures-on-solana/winternitz-signatures-with-anchor/en.mdx
  src/app/content/courses/winternitz-signatures-on-solana/winternitz-signatures-with-pinocchio/en.mdx
Labels: New Course

#215 Sort challenges according to completion
  src/app/components/ChallengeCenterContent/ChallengesList.tsx
Labels: enhancement

#214 Feat: New course on LiteSVM
  messages/en/courses.json
  public/graphics/course-banners/testing-with-litesvm.png
  src/app/content/courses/anchor-for-dummies/testing-your-program/en.mdx
  src/app/content/courses/courses.ts
  src/app/content/courses/testing-with-litesvm/advanced-functionalities/en.mdx
  src/app/content/courses/testing-with-litesvm/conclusion/en.mdx
  src/app/content/courses/testing-with-litesvm/litesvm-101/en.mdx
  src/app/content/courses/testing-with-litesvm/rust/en.mdx
  src/app/content/courses/testing-with-litesvm/typescript/en.mdx
Labels: New Course

#213 fix: several things in introduction-to-assembly course
  src/app/content/courses/introduction-to-assembly/assembly-101/en.mdx
  src/app/content/courses/introduction-to-assembly/instructions/en.mdx
  src/app/content/courses/introduction-to-assembly/program-example/en.mdx
  src/app/content/courses/introduction-to-assembly/registers-and-memory/en.mdx
Labels: bug, enhancement
